<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>알림</title>

    <script th:inline="javascript"> <!-- 아래의 자바스크립트를 사용할 수 있게 해주는 타임리프 문법-->
	const msg = /*[[${msg}]]*/ null;                    <!-- msg변수 선언 : msg가 있으면 값이 나오거 없으면 null이 된다 -->

	if ( msg.trim().length > 0 ) {
	  alert(msg);
	}

	const historyBack = /*[[${historyBack}]]*/ false; <!-- histroyback이 true면 돌어가고 아니면 false-->

	if ( historyBack ) {
	  history.back();
	}

	const replaceUri = /*[[${replaceUri}]]*/ false;

    <!-- 직접 주소를 넣어 그 주소로 이동 시키고 싶다면 주소를 histroyBack대신에 넣어주어 사용 가능하다-->
	if ( replaceUri ) {
	  location.replace(replaceUri);
	}
    </script>
</head>

<body>

</body>

</html>


<!--위의 코드는 전체 이해하는 것이 좋지만 잘 모르겠으면 우선 복사하여 사용하면서 세부적인 기능만 이해아여 사용해도 무방 -->