<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{usr/common/layout}">
<!--이 부분은 레이아웃 파일을 성정해주기 위한 코드??  레이아웃 파일의 경로를 알려준다. -->
<head>
    <title>게시물 본문</title>
</head>


<main layout:fragment="main">
<h1>게시물 목록</h1>
    <ul>
        <li th:each="article : ${articles}">
            <a th:href="@{detail(id=${article.id})}">
                [[${article.id}]] / [[${article.title}]] / [[${article.regDate}]]
            </a>
        </li>
    </ul>
</main>

</html>