<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{usr/common/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시물 수정</title>
</head>





<main layout:fragment="main" class="mt-[20px]">
    <h1 class="container mx-auto font-bold text-[1.3rem] px-[10px]">[[${article.id}]]번글 수정</h1>

    <form action="doModify" method="POST" class="container mx-auto px-[10px]">

    <input type="hidden" name="id" th:value="${article.id}">
        <div class="form-control">
            <label class="label">
                <span class="label-text">제목</span>
            </label>
            <input required name="title" type="text" placeholder="제목을 입력해주세요."
                   class="input input-bordered w-full max-w-xl" maxlength="100" th:value="${article.title}">
        </div>


        <div class="form-control">
            <label class="label">
                <span class="label-text">내용</span>
            </label>
            <textarea rows="10" class="textarea textarea-bordered w-full max-w-xl" required name="body"
                      placeholder="내용을 입력해주세요." th:text="${article.body}"></textarea>
         </div>


        <div class="mt-[20px]">
            <input type="submit" value="수정" class="btn btn-primary btn-sm">
            <a class="btn btn-sm"  th:href="@{detail(id=${article.id})}">글 본문</a>
            <button class="btn btn-sm" onclick="history.back();">취소</button>
         </div>
</form>

</main>


</html>