<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{usr/common/layout}">
<!--이 부분은 레이아웃 파일을 성정해주기 위한 코드??  레이아웃 파일의 경로를 알려준다. -->
<head>
    <title>게시물 본문</title>
</head>


<main layout:fragment="main" class="mt-[20px]">
    <h1 class="container mx-auto font-bold text-[1.3rem] px-[10px]">리스트(역순)</h1>
    <div class="container mx-auto px-[10px] grid md:grid-cols-2 xl:grid-cols-3 gap-[10px]">

        <!-- 역순으로 출력해주는 타임리프 방법 -->
        <div th:each="i : ${#numbers.sequence(articles.size() - 1, 0, -1)}"
             th:with="article=${articles[i]}" >


            <div class="card bg-base-100 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">
                        <span class="badge">[[${article.id}]]</span>
                        [[${article.title}]]
                    </h2>
                    <div>
                        <span class="badge badge-outline">작성일 : [[${#strings.substring(article.regDate, 2, 10)}]]</span>
                        <span class="badge badge-outline">작성자 : [[${article.user.name}]]</span>
                    </div>
                    <p>[[${article.body}]]</p>

                    <div class="card-actions justify-end">
                        <a th:href="@{detail(id=${article.id})}" class="btn btn-primary btn-sm">자세히 보기</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

</html>