<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{usr/common/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성</title>
</head>


<main layout:fragment="main">

<h1>게시물 작성</h1>
<form action="dowrite" method="POST">
    <div>
        <div>제목</div>
        <div>
            <input type="text" name="title" placeholder="제목을 입력해주세요.">
        </div>
    </div>
    <div>
        <div>내용</div>
        <div>
            <textarea name="body" placeholder="내용을 입력해주세요."></textarea>
        </div>
    </div>
    <div>
        <div>작성</div>
        <div>
            <input type="submit" value="작성">
        </div>
    </div>
</form>
</main>

</html>