<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  class="light" data-theme="light"> <!--class="light" data-theme="light" == 레이아웃 배경색상 -->
<!--타임리프 레이아웃을 사용하기 위해 작성 해주는 코드 -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 헤드의 부분은 다른 페이지와 보통 거의 동일하다 -->

    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">JPA Community</title>
            <!--JPA Cmoounity ==> LAYOUT_TITLE이 된다 미리 레이아웃 파일에  정의를 해두었다고 생각
            CONTENT_TITLE의 경우 다른 페이지의 HEAD태그안에 title태그 안에 정의한 내용이 된다 -->

    <!-- 레이 아웃 파일을 지정해 놓으면 다른 html파일에서도 자동으로 지정의 되어 위의 코드가 들어가게 된다-->




    <!-- 데이지UI에서 install -> use cnd에서 복사해서 가지고 온다 ==> 데이지ui를 사용하겠다?? -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!--link + tab -> 눈누에서 가지고온 폰트를 사용할 경로의 파일 주소를 적고 -> 만들어 준다 ==> 파일에서 설정한 폰트로 바뀐다-->
    <link rel="stylesheet" href="/resource/common.css">

</head>

<body>
<!--body아래로 내린 이유는 <script src="https://cdn.tailwindcss.com"></script>이게 늦게 실행되면서 덮어쓰기 때문에 그걸 막기 위해 body아래로 옮겼다 -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.14.0/dist/full.css" rel="stylesheet" type="text/css" />

<!-- 로고를 가운데로 오게 해라 -->
<div class="container mx-auto">
    <div class="text-[2rem] font-bold py-[10px]">
    <!--pt = paddin top, pb = padding bottom, py = 위아래 패딩 다 들어가는 것   -->
        <a href="/">파도</a>
        <!-- 파도 누르면 메인으로 가도록 하는 링크 만들기-->
    </div>
</div>

<div class="container mx-auto">
    <ul class="flex  ml-[-10px]"> <!-- flex는 가로로 보이게 하는 역할 위의 파도와 줄을 맞추기 위해 왼쪽으로 움직인다-->
        <li><a href="/usr/article/write" class="block p-[10px] hover:text-[#FF0000]">글 쓰기</a></li>
        <li><a href="/usr/article/list" class="block p-[10px] hover:text-[#FF0000]">글 리스트</a></li>
        <li><a href="/usr/user/login" class="block p-[10px] hover:text-[#FF0000]">로그인</a></li>
        <li><a href="/usr/user/join" class="block p-[10px] hover:text-[#FF0000]">회원가입</a></li>
        <li><a href="/usr/user/doLogout" class="block p-[10px] hover:text-[#FF0000]">로그아웃</a></li>
    </ul>
</div>

<main layout:fragment="main" class="container mx-auto">
<!-- deteail에서는 데이터를 제공만 하고 선택권이 없고 모든 권한은 레이아웃이 잡게 된다 detail에서 메인 자리에 들어갈 내용을 지정한 부분이 모두 여기로 들어오게 된다-->
</main>

</body>



</html>