<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{usr/common/layout}">
<head>
    <title>로그인</title>
</head>

<main layout:fragment="main" class="mt-[20px]"> <!--margin top -->
    <h1 class="container mx-auto" font-bold text-[1.3rem]>로그인</h1> <!-- 위치를 조정해 준다-->

    <form action="doLogin" method="POST" class="container mx-auto">
        <div class="form-control">
            <label class="label">
                <span class="label-text">이메일</span>
            </label>
            <input name="email" type="email" placeholder="이메일을 입력해 주세요" class="input input-bordered w-full max-w-xs" mxlength="50">
            <!-- 데이지UI에서 -> text input -> with form control and labels -> html코드를 필요한 만큼 복사하여 필요에 맞게 고쳐 사용하기(아래의 경우도 같음)-->
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">비밀번호</span>
            </label>
            <input name="password" type="password" placeholder="비밀번호를 입력해주세요." class="input input-bordered w-full max-w-xs" maxlength="50">
        </div>

        <div class="mt-[20px]">
            <input type="submit" value="로그인" class="btn btn-primary">
        </div>
    </form>
</main>
</html>